<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto">
            <div class="card">
                <div class="card-header bg-dark">
                    <h4 class="text-center text-white">
                        Iniciar Sesión
                    </h4>
                </div>
                <div class="card-body">
                    <form (submit)="login()" [formGroup]="loginForm">
                        <div class="form-group">
                            <label for="username"></label>
                            <input type="text" class="form-control" placeholder="Email o Username" formControlName="username" [class]="isValidField('username')" name="username">
                            <div class="invalid-feedback">
                                <span *ngIf="loginForm.get('username').errors?.required">
                                    Completa este campo
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password"></label>
                            <input type="password" class="form-control" placeholder="Contraseña"   formControlName="password" [class]="isValidField('password')" name="password">
                            <div class="invalid-feedback">
                                <span *ngIf="loginForm.get('password').errors?.required">
                                    Completa este campo
                                </span>
                            </div>
                        </div>
                        <button [disabled]="!loginForm.valid"  type="submit" class="btn btn-success btn-block">Iniciar Sesión</button>
                    </form>
                </div>
                <div class="alert alert-danger " *ngIf="errs">
                    <p class="text-center">{{errs}}</p>
                </div>
            </div>
        </div>
    </div>
</div>